// file header

{{ entity }}

//-------------------------------------------------------------------------------------//
// Group: Signals
//-------------------------------------------------------------------------------------//

{{ spy_decl }}
    
endinterface