// ---------------------------------------------------------------------------------------
// File               : gen_{{ if_name }}.sv
// Version            : 
// Author             : 
// ---------------------------------------------------------------------------------------
// Description        : Generated assertion interface binded to the
//                      {{ module_name }} module
// ---------------------------------------------------------------------------------------


// =======================================================================================
//  Interface:       {{ if_name }}
// ---------------------------------------------------------------------------------------
//
//  Generated assertion interface. Binded to the {{ module_name }} DUT from the testbench.
//  Includes variables, models, properties, and assertions.
//
//  Parameters:
{{ parameter_descriptions }}
//
//  Ports:
{{ port_descriptions }}
//
// =======================================================================================

{{ entity }}

  // =====================================================================================
  //                                                                            Data Types
  // =====================================================================================

  // =====================================================================================
  //                                                                            Parameters
  // =====================================================================================

  `define PATH_TOP  = {{ top_instance }}

  // =====================================================================================
  //                                                                    Imports & Includes
  // =====================================================================================

  // =====================================================================================
  //                                                                             Variables
  // =====================================================================================

{{ spy_decl }}
  
  //----------------------------------Models variables----------------------------------//

  // =====================================================================================
  //                                                                                Models
  // =====================================================================================

  // =====================================================================================
  //                                                                    Output Assignments
  // =====================================================================================

{{ spy_assigns }}
  // =====================================================================================
  //                                                                     Common Properties
  // =====================================================================================
    
  // =====================================================================================
  //                                                                            Assertions
  // =====================================================================================
  // `include "assertions_include_file_example.svh"

endinterface : {{ if_name }}

// =======================================================================================
//                                                                             End-Of-File
// =======================================================================================
