// file header

{{ entity }}

//-------------------------------------------------------------------------------------//
// Group: Signals
//-------------------------------------------------------------------------------------//

{{ spy_decl }}

//-------------------------------------------------------------------------------------//
// Group: Assignments
//-------------------------------------------------------------------------------------//

{{ spy_assigns }}
    
endinterface